.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display{
  display: flex;
  width: 70%;
  margin: 5rem auto;
  justify-content: space-evenly;
}

.dashboard{
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-evenly;
}
